.portfolio__container{
    grid-template-columns: repeat(3,1fr);
}

.portfolio__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio__img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.portfolio__hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.portfolio__item:hover .portfolio__hover{
    opacity: .8;
    border: 2px solid var(--first-color)
}
.portfolio__title{
    color: var(--text-white);
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    transform: translateY(-20px);
    transition: all 0.5s ease;
}

.portfolio__item:hover .portfolio__title{
    transform: translateY(0);
}
.portfolio__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(0,0%,0%,0.7);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 15px;
    margin: 15px;
    
}

.portfolio__modal-content{
    background-color: var(--container-color);
    max-width: 650px;
    width: 100%;
    padding: 32px;
    border-radius: 10px;
    position: relative;
    border: 3px solid var(--first-color);
}

.modal__close{
    width: 30px;
    position: absolute;
    top: 1%;
    left: 2.5%;
    width: 30px;
    height: 30px;
} 

.modal__close:hover{
    transition: .5s;
    color: var(--first-color);
    scale: 1.5;
}


.modal__title{
    text-align: center;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.modal__list{
    row-gap: 10px !important;
    margin-bottom: 24px;
}

.modal__item{
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    column-gap: 8px;
}

#icon{
    border-radius: 5px;
    padding: 3px;
    font-size: 20px;
    color: var(--first-color);
    font-weight: var(--weight-600);
}

.item__title{
    font-size: 16px;
    color: var(--first-color);
    font-weight: var(--weight-600);
}
.item__details{
    color: var(--title-color);
    font-size: 14px;
    /* font-weight: var(--weight-600); */  
}

.item__details a{
    text-decoration: underline;
    color: var(--title-color);
}

.item__details a:hover{
    transition: .5s;
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--first-color);
    font-weight: var(--weight-600);
    padding: 5px 10px;
    border-radius: 5px;
}


.modal__img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    transition: .5s;
}

.modal__img:hover{
    transition: .5s;
    scale: 1.05;
}

.modal__description{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    font-size: 16px;
    text-align: center;
    color: var(--title-color);
}
